/*--------------------*\
    $BOTONES
\*--------------------*/
%button{
    width: 165px;
    height: 35px;
}

.beer-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}